* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: white;
    height: 100vh;
    font-size: 14px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

header {
    width: 100%;
    padding: 1em;
}

header h1 {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}

.state-img img{
    object-fit: contain;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
}


#guess-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 3em;
    margin-right: 10px;
}

#submit-guess {
    width: 25%;
    height: 3em;
}

.result {
    border: 2px solid #353335;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    margin: 5px;
}

.guess-content {
    flex: 1;
    padding: 0 10px;
}

.red-x-container, .green-check-container {
    border-left: 2px solid #353335; /* Add left border */
    padding: 0 10px;
}

.red-x, .green-check {
    color: red; /* Red for X, green for check */
}

/* modal stuff */
.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#play-again-btn {
    margin-top: 2em;
    width: 25%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}